---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div class="publications-compact">
{% assign pub_num = 0 %}
<!-- First / Co-First Author Section -->
<h2>First / Co-First Author</h2>
<hr />

<h3>Journal Articles</h3>
{% for post in site.publications reversed %}
  {% assign is_first = false %}
  {% if post.excerpt contains "First Author" or post.excerpt contains "Co-first Author" or post.excerpt contains "first Author" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign author_check = post.excerpt | split: "," | first %}
  {% if author_check contains "Zelin Zang" %}
    {% assign is_first = true %}
  {% endif %}
  {% if is_first and post.category == "manuscripts" %}
    {% assign pub_num = pub_num | plus: 1 %}
    {% include archive-single.html number=pub_num %}
  {% endif %}
{% endfor %}

<h3>Conference Papers</h3>
{% for post in site.publications reversed %}
  {% assign is_first = false %}
  {% if post.excerpt contains "First Author" or post.excerpt contains "Co-first Author" or post.excerpt contains "first Author" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign author_check = post.excerpt | split: "," | first %}
  {% if author_check contains "Zelin Zang" %}
    {% assign is_first = true %}
  {% endif %}
  {% if is_first and post.category == "conferences" %}
    {% assign pub_num = pub_num | plus: 1 %}
    {% include archive-single.html number=pub_num %}
  {% endif %}
{% endfor %}

<!-- Corresponding Author Section -->
<h2>Corresponding Author</h2>
<hr />

<h3>Journal Articles</h3>
{% for post in site.publications reversed %}
  {% assign is_first = false %}
  {% if post.excerpt contains "First Author" or post.excerpt contains "Co-first Author" or post.excerpt contains "first Author" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign author_check = post.excerpt | split: "," | first %}
  {% if author_check contains "Zelin Zang" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign is_corr = false %}
  {% if post.excerpt contains "Corresponding Author" %}
    {% assign is_corr = true %}
  {% endif %}
  {% if is_corr and is_first == false and post.category == "manuscripts" %}
    {% assign pub_num = pub_num | plus: 1 %}
    {% include archive-single.html number=pub_num %}
  {% endif %}
{% endfor %}

<h3>Conference Papers</h3>
{% for post in site.publications reversed %}
  {% assign is_first = false %}
  {% if post.excerpt contains "First Author" or post.excerpt contains "Co-first Author" or post.excerpt contains "first Author" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign author_check = post.excerpt | split: "," | first %}
  {% if author_check contains "Zelin Zang" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign is_corr = false %}
  {% if post.excerpt contains "Corresponding Author" %}
    {% assign is_corr = true %}
  {% endif %}
  {% if is_corr and is_first == false and post.category == "conferences" %}
    {% assign pub_num = pub_num | plus: 1 %}
    {% include archive-single.html number=pub_num %}
  {% endif %}
{% endfor %}

<!-- Other Publications Section -->
<h2>Other Publications</h2>
<hr />

<h3>Journal Articles</h3>
{% for post in site.publications reversed %}
  {% assign is_first = false %}
  {% if post.excerpt contains "First Author" or post.excerpt contains "Co-first Author" or post.excerpt contains "first Author" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign author_check = post.excerpt | split: "," | first %}
  {% if author_check contains "Zelin Zang" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign is_corr = false %}
  {% if post.excerpt contains "Corresponding Author" %}
    {% assign is_corr = true %}
  {% endif %}
  {% if is_first == false and is_corr == false and post.category == "manuscripts" %}
    {% assign pub_num = pub_num | plus: 1 %}
    {% include archive-single.html number=pub_num %}
  {% endif %}
{% endfor %}

<h3>Conference Papers</h3>
{% for post in site.publications reversed %}
  {% assign is_first = false %}
  {% if post.excerpt contains "First Author" or post.excerpt contains "Co-first Author" or post.excerpt contains "first Author" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign author_check = post.excerpt | split: "," | first %}
  {% if author_check contains "Zelin Zang" %}
    {% assign is_first = true %}
  {% endif %}
  {% assign is_corr = false %}
  {% if post.excerpt contains "Corresponding Author" %}
    {% assign is_corr = true %}
  {% endif %}
  {% if is_first == false and is_corr == false and post.category == "conferences" %}
    {% assign pub_num = pub_num | plus: 1 %}
    {% include archive-single.html number=pub_num %}
  {% endif %}
{% endfor %}
</div>
