<li class="masthead__menu-item masthead__menu-item--lang persist tail">
  {% if page.lang == 'zh' %}
    {% if page.url == '/zh/publications/' %}
      <a href="/publications/" class="lang-switch__link">EN</a>
    {% elsif page.url == '/zh/cv/' %}
      <a href="/cv/" class="lang-switch__link">EN</a>
    {% elsif page.url == '/zh/openings/' %}
      <a href="/openings/" class="lang-switch__link">EN</a>
    {% else %}
      <a href="/" class="lang-switch__link">EN</a>
    {% endif %}
  {% else %}
    {% if page.url == '/publications/' %}
      <a href="/zh/publications/" class="lang-switch__link">中文</a>
    {% elsif page.url == '/cv/' %}
      <a href="/zh/cv/" class="lang-switch__link">中文</a>
    {% elsif page.url == '/openings/' %}
      <a href="/zh/openings/" class="lang-switch__link">中文</a>
    {% else %}
      <a href="/zh/" class="lang-switch__link">中文</a>
    {% endif %}
  {% endif %}
</li>
